<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">{{ title }} </a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/articles" routerLinkActive="active">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" >Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/test">Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/test/1">Test 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/test/2">Test 2</a>
      </li>
    </ul>
  </div>
</nav>
